{% extends 'base.html' %}\

{% block content %}
 <div class="row">
  <div class="col-md-12 text-center">
    <h1 class="title" style="font-family: 'Pacifico', cursive; font-size: 72px; color: #333;">FlyBoredom</h1>
  </div>
 </div>
<div class="row">
  {% for offer in latest_offers %}
  <div class="col-md-4" style="margin-top: 50px;">
  <a href="{% url 'offer_detail' pk=offer.pk %}"  style="text-decoration: none; color: inherit">
    <div class="card mb-4 box-shadow">
      {% if offer.image %}
        <img class="card-img-top" src="{{ offer.image.url }}" alt="{{ offer.offer }}">
      {% endif %}
      <div class="card-body">
        <h4>{{ offer.offer }}</h4>
        <ul class="list-unstyled">
          <li><strong>Location:</strong> {{ offer.location }}</li>
          <li><strong>Price per person:</strong> ${{ offer.price }}</li>
        </ul>
        <div class="d-flex justify-content-between align-items-center">
        </div>
      </div>
    </div>
  </a>
  </div>
  {% endfor %}
</div>
{% endblock %}