{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
	<h1 class="mb-5">Your Cart</h1>
	{% if messages %}
	{% for message in messages %}
	<div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
		{{ message }}
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
	{% endfor %}
	{% endif %}
	{% if cart_items %}
	<table class="table table-striped">
		<thead>
			<tr>
				<th scope="col">Offer</th>
				<th scope="col">Price</th>
				<th scope="col">Quantity</th>
				<th scope="col">Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for cart_item in cart_items %}
			<tr>
				<td>{{ cart_item.offer.offer }}</td>
				<td>{{ cart_item.offer.price }}</td>
				<td>{{ cart_item.number_of_people }}</td>
				<td>
					<a href="{% url 'remove_from_cart' cart_item.id %}" class="btn btn-danger btn-sm">Remove</a>
				</td>
			</tr>
			{% endfor %}
			<tr>
				<td></td>
				<td></td>
				<th scope="row">Total</th>
				<td>{{ total_cost }}</td>
				<td></td>
			</tr>
		</tbody>
	</table>
	<a href="{% url 'checkout' %}" class="btn btn-success float-end">Checkout</a>
	{% else %}
	<p>Your cart is empty.</p>
	{% endif %}
</div>
{% endblock %}