{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}"/>

        <div class="container pt-2">
            <h1>Owner Dashboard</h1>
            {#  Latest Offer Container  #}
            <div class="container border rounded mt-5 p-0">
                <div class="container-header">
                    <h2 class="m-0">Latest Offers</h2>
                    <a href="{% url "owner_admin:add_offer" %}" class="btn btn-primary top-right">
                        <i class="bi bi-plus"></i>
                        Add Offer
                    </a>
                </div>
                <div class="row scrollable container m-0 p-0">
                    <div class="row py-3" style="padding-left: 2em">
                        {% for offer in latest_offers %}
                            <div class="card p-0" style="width: 18rem; margin-right: 0.5rem;
                                margin-top: 0.5rem; margin-bottom: 0.5rem; height: 25rem">
                                {% if offer.image %}
                                    <div style="height: 10rem; overflow: hidden">
                                        <img src="{{ offer.image.url }}" class="card-img-top" alt="...">
                                    </div>
                                {% endif %}
                                <div class="card-body">
                                    <div class="detail-container">
                                        <h5 class="card-title">{{ offer.offer }}</h5>
                                        <p class="card-text">{{ offer.description|truncatechars:100 }}</p>
                                        <a class="btn btn-primary" href="{% url "owner_admin:edit_offer" offer.id %}">
                                            <i class="bi bi-pencil-fill"></i>
                                            Edit
                                        </a>
                                        <a class="btn btn-danger" style="float: right"
                                           href="{% url "owner_admin:delete_offer" offer.id %}">
                                            <i class="bi bi-trash-fill"></i>
                                            Delete
                                        </a>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <p class="card-text"><small class="text-muted">
                                        Date: {{ offer.date }}<br>
                                        Spots Available: {{ offer.spots_available }}<br>
                                    </small></p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            {#  Latest Testimonials Container  #}
            <div class="container border rounded mt-4 p-0" style="overflow: hidden">
                <div class="container-header">
                    <h2>Latest Testimonials</h2>
                </div>
                <div class="row scrollable container m-0 p-0">
                    <div class="row py-3" style="padding-left: 2em">
                        {% for testimonial in latest_testimonials %}
                            <div class="card p-0" style="width: 18rem; margin-right: 0.5rem;
                            margin-top: 0.5rem; margin-bottom: 0.5rem; height: 25rem">
                                {% if testimonial.photos.all %}
                                    <div style="height: 10rem; overflow: hidden">
                                        <img src="{{ testimonial.photos.all.0.photo.url }}" class="card-img-top"
                                             alt="...">
                                    </div>
                                {% endif %}
                                <div class="card-body">
                                    <div class="detail-container">
                                        <h5 class="card-title">{{ testimonial.title }}</h5>
                                        <p class="card-text">{{ testimonial.testimonial|truncatechars:100 }}</p>
                                        <a class="btn btn-danger"
                                           href="{% url "owner_admin:delete_testimonial" testimonial.id %}">
                                            <i class="bi bi-trash-fill"></i>
                                            Delete
                                        </a>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <p class="card-text">
                                        <small class="text-muted">
                                            Location: {{ testimonial.location }}
                                        </small>
                                    </p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            {#  Bookings for upcoming events  #}
            <div class="container border rounded my-4 p-0" style="overflow: hidden">
                <div class="container-header">
                    <h2>Bookings for upcoming events</h2>
                </div>
                <div class="row scrollable container m-0 p-0">
                    <div class="container m-0 p-0">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">First Name</th>
                                    <th scope="col">Last Name</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Location</th>
                                </tr>
                                </thead>
                                <tbody>
                                    {% for booking in bookings_for_upcoming_offers %}
                                        <tr>
                                            <td>{{ booking.first_name }}</td>
                                            <td>{{ booking.last_name }}</td>
                                            <td>{{ booking.booking_item.offer.date }}</td>
                                            <td>{{ booking.booking_item.offer.location }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}